@media (min-width:$desktop-width) {


  .main-footer {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;

  }

  .page-container {
    width: 984px;
    margin: auto;
  }

  .main-footer__losung {
    margin: 0;
    padding: 0;
    margin-top: 32px;
    margin-left: 342px;
    font-family: "Muller-Regular", "Arial", sans-serif;
    line-height: 26px;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
  }

  .main-footer__text {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    color: #666666;
  }

  .copyright {



    &__name {
      padding-top: 32px;
      padding-bottom: 28px;
      display: block;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .main-footer-line {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: auto;


    &__copyright-line::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 91%;
      background-color: #cccccc; 
      bottom: 0;
      left: 80px;

    }
  }
}