@media (min-width:$desktop-width){
    .main-container{

position: static;

   

&::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    top: 20px;
    right: 0;
    background-image:  url("/img/intro.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
   
    }

}

}