@media (min-width:$desktop-width){
    .swiper{
       

        

        &__title{
            padding: 0;
            margin: 0;
            padding-top: 184px;

            font-size: 40px;
            line-height: 50px;
            font-weight: 500;
        }
         &__text{
            padding: 0;
            margin: 0;
            margin-top: 8px;
            margin-bottom: 52px;

            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: #33B5A3;
            text-transform: uppercase;
         }

         &__list{
            padding: 0;
            margin: 0;
            list-style-type: none;
            
            height: 500px;
            position: relative;
            

         }

         &__item {
            margin: 0;
            padding: 0;
           
         }
         &__box{
            display: flex;
         }

         &__picture{
            width: 750px;
            height: 500px;
            object-fit: cover;
         }

         &__description{
            margin: 0;
            padding: 0;
            font-size: 13px;
            line-height: 20px;
            font-weight: 400;
            color: #666666;
            width: 144px;
            margin-left: 18px;
         }

         &__button {

            margin: 0;
            padding: 0;
            border: none;
            background-color: #ffffff;
            cursor: pointer;

         }

         &__button-box{
            display: flex;
            justify-content: space-between;
            width: 73px;
            position: absolute;
            right: 75px;
            bottom: 0;

         }

         


    }





}
